<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HedgehogDevelopment.SitecoreProject.Service.Configuration" type="HedgehogDevelopment.SitecoreProject.Service.ServiceConfiguration, HedgehogDevelopment.SitecoreProject.Service" requirePermission="false" />
  </configSections>
  <HedgehogDevelopment.SitecoreProject.Service.Configuration accessGuid="0b44286b-6bb7-4752-82ff-b006a47ded68" />
</configuration>
